/* Modifier des balises */
body {
    background-color: rgb(218, 131, 38);
}

h1, h2, h3, p {
    color: aliceblue;
}

/* Modifier des class */
.coeur {
    color: rgb(0, 0, 123);
}
.work {
    font-style: italic;
    color: bisque;
}

/* Modifier des id */
#titre2 {
    font-style: oblique;
}


